{
	email "admin@schwung.us"
}

nutblast.schwung.us, nutblaster.schwung.us {
	route {
		reverse_proxy /v1 127.0.0.1:36900 {
			header_up Connection "Upgrade"
			header_up Upgrade "websocket"

			header_up Sec-WebSocket-Key {>Sec-WebSocket-Key}
			header_up Sec-WebSocket-Version {>Sec-WebSocket-Version}
		}

		redir https://github.com/Schwungus/NutBlast
	}
}

nutpunch.schwung.us, nutpuncher.schwung.us {
	redir https://github.com/Schwungus/NutPunch
}
