{
	email "admin@schwung.us"

	servers {
		protocols h1
	}
}

nutblast.schwung.us, nutblaster.schwung.us {
	route {
		reverse_proxy /v1* 127.0.0.1:36900
		redir https://github.com/Schwungus/NutBlast
	}
}

nutpunch.schwung.us, nutpuncher.schwung.us {
	redir https://github.com/Schwungus/NutPunch
}
