{
	email "admin@schwung.us"
}

nutblast.schwung.us, nutblaster.schwung.us {
	route {
		reverse_proxy /v1* 127.0.0.1:36900 {
			header_up Origin "nutblast.schwung.us"

			header_up Host "127.0.0.1:36900"
			header_up Connection "Upgrade"
			header_up Upgrade "websocket"

			flush_interval -1
		}

		redir https://github.com/Schwungus/NutBlast
	}
}

nutpunch.schwung.us, nutpuncher.schwung.us {
	redir https://github.com/Schwungus/NutPunch
}
